@mixin dt {
    display: flex;
    text-align: center;
}

.section-ayuda {
    .input0 {
        color: $color-negro;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        @include dt;
        justify-content: $centrar;
    }

    .form0 {
        padding: 50px 55px;
        box-shadow: 0 0 20px $color-gris;
        border-radius: 20px;
        text-align: $centrar;
        width: 340px;
        background-color: $color-blanco;
    }

    .input-ayuda {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px;
    }
}


h1 {
    font-size: 35px;
    padding: 20px;
}

label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid;
    outline: none;
}

.privacidad {
    margin-bottom: 30px;
    @include dt;
    justify-content: space-between;
}

input.primaryContained:hover {
    background-color: $color-gris;
}

.section-ayuda {
    padding: 50px;
}