@mixin tp {
    text-align: center;
    padding: 10px;
}

.section-comentarios {
    .comentarios {
        color: $color-gris;
        @include tp;
    }

    .comentarios1 {
        color: $color-blanco;
        @include tp;
        text-decoration: underline;
    }

    .comment {
        display: block;
        transition: all 1s;
    }

    .commentClicked {
        min-height: 0px;
        border: 1px solid $color-blanco;
        border-radius: 5px;
        padding: 5px 10px;
    }
}

.container {
    max-width: 640px;
    margin: 30px auto;
    background: $color-blanco;
    border-radius: 8px;
    padding: 20px;

}

.container textarea {
    width: 200%;
    border: none;
    background: $color-blanco;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
}

button.primaryContained:hover {
    background: $color-gris;
}

.section-comentarios {
    padding: 50px 0 100px 0;
}