header {
    background-color: $color-gris;
    height: 70px;
    font-size: 25px;
    font-family: 'HeroKing';
}

.bg-body-tertiary {
    background-color: $color-gris !important;
}

.navbar {
    z-index: 5;
    padding: 15px;
}