.formulario {
    color: $color-negro;
    padding: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: $color-blanco;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(240, 237, 237, 0.73);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-login {
    padding: 100px;
}