article {
    color: white;
}

h2 {
    background-color: gray;
    text-transform: uppercase;
    padding: 20px;
    font-family: 'HeroKing';
    font-size: 25px;
}

.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.articulo {
    width: 700px;
}